.checkout-container {
  min-height: 100vh;
  padding-top: 120px; 
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../Assets/checkout-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.checkout-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 30px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.checkout-card {
  background: rgb(255, 255, 255, 0.68);
  width: 100%;
  max-width: 520px;
  padding: 35px;
  border-radius: 18px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.08);
}
.checkout-product {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 25px;
}
.checkout-product img {
  width: 180px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}
.checkout-card input,
.checkout-card textarea {
  width: 100%;
  margin-bottom: 15px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}
.checkout-card textarea {
  resize: none;
  height: 80px;
}
.payment-options {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 15px 30px;
  margin: 25px 0;
}
.payment-options label {
  align-items: center;
  gap: 8px;
  font-size: 15px;
  cursor: pointer;
}
.confirm-btn {
  width: 100%;
  padding: 14px;
  background: black;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  font-size: 15px;
  transition: 0.3s ease;
}
.confirm-btn:hover {
  background: #222;
}
@media (max-width: 768px) {

  .checkout-title {
    font-size: 2rem;
  }

  .checkout-product img{
    width: 200px;
    height: 120px;
  }

  .checkout-product {
    flex-direction: column;
  }

  .payment-options {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    
  }
}
