.NavbarItems{
    background-color: rgb(255, 255, 255, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
    width: calc(100% - 40px);
    height: 80px;
    border-radius: 13px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    box-sizing: border-box;
}


.navbar-logo{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    cursor: pointer;
}


.nav-menu{
    display: grid;
    grid-template-columns: repeat(9, auto);
    grid-gap: 10px;
    list-style: none;
    align-items: center;
    padding-top: 20px;
}


.nav-links{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.7rem 1rem;
   


    &:hover{
        color: hsl(26, 93%, 50%);
        transition: all 0.2s ease-in-out;
        transform: translateX(10px);
        text-decoration: none;
    }
}


.nav-links p{
    &:hover{
        transform: translateX(10px);
    }
}


.nav-links-mobile{
    display: none;
    &:hover{
        color: hsl(26, 93%, 50%);
        transition: all 0.2s ease-in-out;
        transform: translateX(10px);
    }
}


button{
    padding: 0.5rem 1rem;
    white-space: nowrap;
    border: none;
    border-radius: 5rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    background-color: rgb(0, 0, 180);
    color: hsl(24, 35%, 92%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease-in-out;

    &:hover{
        color: hsl(26, 93%, 50%);
    }
}




.menu-icons{
    display: none; 
    z-index: 10000;
}






@media screen and (max-width:768px){


    .NavbarItems{
        z-index: 99;
    }


    .nav-menu{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background: white;
        width:100%;
        height: auto;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 0;
        align-items: stretch;
        padding: 5px 0 30px 0;
        margin: 0;
        transition: 0.3s ease-in-out;
        border-radius: 13px;
        background-color: rgb(255, 255, 255, 0.7);
    }


    .nav-menu.active{
        left: 0;
        opacity: 1;
        z-index: 9998;
        transition: 0.3s ease-in-out;
    }


    .nav-links{
        display: block;
        width: 100%;
        font-size: 1rem;
        padding: 2rem 0;
        color: #000;
    }


    button{
        display: inline-block;
        width: fit-content;
        margin: 10px auto;
    }


    .nav-links-mobile{
        display: block;
        text-align: center;
        padding: 1.5rem;
        margin:auto;
        border-radius: 4px;
        width: 80%;
        text-decoration: none;
        background: aquamarine;
        font-size: 1.2rem;
        color: black;
        font-weight: 600;
        letter-spacing: 2px;
    }

    
    .menu-icons{
        display: block;
        z-index: 10000;
    }


    .menu-icons i{
        font-size: 1.2rem;
        cursor: pointer;
        color: black;
        &:hover{
        color: hsl(26, 93%, 50%);
        }
    }
}

@media screen and (max-width:480px){
  .NavbarItems{
    width: 100%;
    left: 0;
    transform: none;
    padding: 0 12px;
    border-radius: 0;
  }
  .nav-links{
    font-size: 0.9rem;
    padding: 1.2rem 0;
  }
}
 
