.Gallery {
  background-image: linear-gradient(
    to right,
    #e4afcb 0%,
    #b8cbb8 0%,
    #b8cbb8 0%,
    #e2c58b 30%,
    #c2ce9c 64%,
    #7edbdc 100%
  );
  padding: 60px 30px;
}

.heading {
  text-align: center;
}

.heading h1 {
  color: black;
  padding-bottom: 40px;
  font-size: 90px;
}

  .Gallery .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}


.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.box img {
  width: 320px;
  height: 220px;
  object-fit: cover;
  border-radius: 1rem;
}

 .box h3 {
  font-size: 1.6rem;
  margin-top: 0.5rem;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: black;
  
  margin-bottom: 30px;
}
.box:nth-child(odd) {
  transform: translateY(20px);
}
@media screen and (max-width: 768px) {
  .Gallery .box-container {
    columns: 1;       
  }

  .Gallery {
    padding: 40px 15px;
  }
}


  h1{
    color:black;
    font-family: cursive;
    font-size: xx-large;
    font-weight: 500;
    padding-top: 100px;
   
  }
  .ri{
    padding-left: 300px;
    width: 160%;
    border-radius: 1rem;
      margin-bottom: 1rem;
  }
 
  .ni{
    padding-left: 600px;
    width: 120%;
    height:100%;
    border-radius: 1rem;
      margin-bottom: 1rem;
  }
