.about_section{
    position: relative;
    width: 100%;
    height: auto;
    padding: 100px 100px;
    display:flex;
    align-items: center;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(100,43,115,1) 0%, rgba(4,0,4,1) 90% );
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
  }
  .image_section{
    padding-top:30px;
    width: 56%;
    height: 30;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
  }
  .about_img{
    width:100%;
    height: 80vh;
    object-fit: cover;
    object-position: center;
  }
  .content_section{
    margin-top: 50px;
    box-shadow: 5px 5px 10px rgba(68, 27, 5, 0.12);
     position:absolute;
    width: 35%;
    height: auto;
    border-radius: 4px;
    right: 250px;
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    display: flex;
    align-items:flex-start;
    justify-content: start;
    flex-direction: column;
    row-gap:1.1rem;
    padding: 30px 30px 30px 160px;
    border: 1px solid rgba(143, 143, 143);
  }
  .about_title{
    padding-right: 130px;
    font-size: 1.9rem;
    font-weight: 600;
    letter-spacing:0.1rem;
    color:black;
  }
  .about_desc{
    padding-right: 140px;
    font-size: 0.93rem;
    line-height: 1.2rem;
    color: rgb(38, 35, 35);
    margin-bottom: 1.3rem;
    font-weight: 400;
   
  }
  .about_btn{
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 4px !important;
    margin-bottom: 1.3rem;
    background-color: rgb(255, 64, 0);
    color: beige;
  }

  @media screen and (max-width: 1440px) {

  .about_section {
    flex-direction: column;
    padding: 60px 20px;
  }

  .image_section {
    width: 100%;
    padding-top: 0;
  }

  .about_img {
    height: 45vh;
  }

  .content_section {
    position: relative;        
    right: auto;
    width: 85%;                
    margin-top: -80px;         
    padding: 30px 30px;
    align-items: center;
    text-align: center;
  }

  .about_title {
    padding-right: 0;
    font-size: 1.5rem;
    text-align: center;
  }

  .about_desc {
    padding-right: 0;
    font-size: 0.95rem;
    line-height: 1.5rem;
    text-align: center;
  }

  .about_btn {
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto;
  }
}

@media screen and (max-width:320px) {
  .about_desc {
    padding-right: 0;
    font-size: 0.65rem;
    line-height: 0.75rem;
    text-align: center;
  }
  .about_title {
    padding-right: 0;
    font-size: 0.85rem;
    text-align: center;
  }
  .about_btn {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    font-size: 0.8rem;
  }
}

  